<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Italianno&family=Satisfy&display=swap" rel="stylesheet">

body {
    background: #ffcca3;
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-size: 30px;
}

h1 {
    font-size: 60px;
    color: black;
    text-align: center;
    font-family: 'Italianno', cursive;
}
